html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.contact p {
    margin-top: 15px;
    line-height: 0.5;
}

.navbar-light .navbar-nav .nav-link {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-right: 33px;
    color: #2B2B2B;
}

.tel {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.city {
    font-size: 14px;
    line-height: 16px;
}

.log {
    margin-right: 45px;
    margin-left: 0;
}

.banner {
    background-image: url(img/banner.png);
    padding-bottom: 100px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-pan {
    margin-top: margin-left: 100px;
    margin-right: 100px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.podval {
    margin-top: 105px;
    height: 163px;
    background: #211F2B;
}

.blogo {
    margin-top: 38px;
    margin-left: 120px;
}

.description h1 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
    ;
}

.description p {
    width: 47%;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    color: #FFFFFF;
}

.description input {
    width: 217px;
    height: 51px;
    box-shadow: inset 2px 2px 6px rgba(90, 90, 90, 0.65);
    background-color: white;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    padding-left: 20px;
    margin-right: 17px;
    border: none;
    color: #8C8C8C;
}

.description button {
    width: 214px;
    height: 51px;
    background: #D51522;
    box-shadow: 0px 2px 8px rgba(65, 65, 65, 0.25);
    border: none;
    border-radius: 0px;
}

.description button:hover {
    border: 2px solid white;
    background-color: #D51522;
}

.news {
    margin-top: 84px;
    margin-bottom: 62px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
    /* identical to box height */
    text-align: center;
    color: #2B2B2B;
}

.red-sq {
    width: 349px;
    height: 243px;
    background: #D51522;
}

.blue-sq {
    position: absolute;
    width: 349px;
    height: 243px;
    left: 940px;
    top: 780px;
    background: #6F61A0;
}

.white-sq {
    position: absolute;
    width: 349px;
    height: 243px;
    left: 940px;
    top: 780px;
    background: white;
}

.news-block {
    width: 349px;
    height: 243px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
}

.card-red {
    -webkit-box-shadow: -20px -20px 0px 0px rgba(213, 21, 34, 1);
    -moz-box-shadow: -20px -20px 0px 0px rgba(213, 21, 34, 1);
    box-shadow: -20px -20px 0px 0px rgba(213, 21, 34, 1);
}

.card-purp {
    -webkit-box-shadow: 20px 20px 0px 0px rgba(111, 97, 160, 1);
    -moz-box-shadow: 20px 20px 0px 0px rgba(111, 97, 160, 1);
    box-shadow: 20px 20px 0px 0px rgba(111, 97, 160, 1);
}

.card {
    width: 349px;
    height: 243px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 0px;
}

.card-back {
    position: absolute;
    width: 349px;
    height: 243px;
    left: 150px;
    top: 752px;
    background: #D51522;
}

.card-body {
    padding: 34px 27px;
}

.card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    color: #2B2B2B;
}

.card-date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #636363;
}

.btn-details {
    margin-top: 30px;
    width: 156px;
    height: 44px;
    background-color: white;
    border-radius: 0px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    color: #D51522;
    border: 1px solid #D51522;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 8px rgba(65, 65, 65, 0.25));
}

.btn-details:hover {
    font-weight: bold;
    filter: drop-shadow(15px 15px 15px rgba(65, 65, 65, 0.25));
}

.bmenu {
    list-style-type: none;
    padding-top: 70px;
}

.logo-big {}

.bmenu a {
    color: white;
}

.bmenu li {
    display: inline;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 33px;
}

.carousel-indicators {}

.carousel-indicators li {
    margin-right: 18px;
}

.carousel-indicators li,
.carousel-indicators .active {
    background-color: #CACACA;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: #D51522;
}

.carousel {
    padding-bottom: 32px;
}

.row {
    padding: 40px;
}

.bg-contact {
    display: none;
}

.m-screen {
    display: none;
}

.desc-nav {
    display: block;
}

@media screen and (max-width: 991px) {
    .mobile-contact {
        padding: 19px;
    }
    .btn-details {
        width: auto;
    }
    .desc-nav {
        display: none;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler:active {
        border: none;
    }
    .m-screen {
        display: inline;
    }
    .mobile {
        margin: 0;
        padding: 0;
        width: auto;
    }
    .mobile-p {
        padding: 0;
        margin: 0;
    }
    .navbar {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 100;
    }
    .contact {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link {
        padding-left: 17px;
        padding-top: 25px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #2B2B2B;
    }
}